<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="films" href="/tabs/films">
      <ion-icon name="film-outline"></ion-icon>
      <ion-label>Films</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="naviguer" href="/tabs/naviguer">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Naviguer</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="series" href="/tabs/series">
      <ion-icon name="videocam-outline"></ion-icon>
      <ion-label>Séries</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="parametres" href="/tabs/parametres">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Paramètres</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
