<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Films</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Films</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="section-container">
    <div class="section-header">
      <h2>EN COURS <ion-icon name="play-circle-outline"></ion-icon></h2>
    </div>
    @if (stockageFilmLocal.listeEnCours.length > 0) {
      <swiper-container
        slides-per-view="auto"
        space-between="15"
        free-mode="true"
        slides-offset-before="16"
        slides-offset-after="16">
        @for (film of stockageFilmLocal.listeEnCours; track film.id) {
          <swiper-slide style="width: 120px;">
            <app-card-film [film]="film" (filmClick)="voirDetail($event)"></app-card-film>
          </swiper-slide>
        }
      </swiper-container>
    } @else {
      <div class="empty-state-card">
        <p>Aucun film en cours de visionnage</p>
      </div>
    }
  </div>

  <div class="section-container">
    <div class="section-header">
      <h2>À VOIR <ion-icon name="bookmark-outline"></ion-icon></h2>
    </div>
    @if (stockageFilmLocal.listeAVoir.length > 0) {
      <swiper-container
        slides-per-view="auto"
        space-between="15"
        free-mode="true"
        slides-offset-before="16"
        slides-offset-after="16">
        @for (film of stockageFilmLocal.listeAVoir; track film.id) {
          <swiper-slide style="width: 120px;">
            <app-card-film [film]="film" (filmClick)="voirDetail($event)"></app-card-film>
          </swiper-slide>
        }
      </swiper-container>
    } @else {
      <div class="empty-state-card">
        <p>Ta liste est vide</p>
      </div>
    }
  </div>

  <!-- SECTION SUGGESTIONS -->
  <div class="section-container">
    <div class="section-header"> <!--(click)="naviguerVersRecherche({tri: 'Popularité +/-', type: 'Films', statut: 'Non vu'})"-->
      <h2>SUGGESTIONS <ion-icon name="chevron-forward-outline"></ion-icon></h2>
    </div>
    @if (stockageFilmAPI.chargementFilms) {
      <div class="loading-container">
        <ion-spinner name="crescent"></ion-spinner>
      </div>
    } @else {
      <swiper-container
        slides-per-view="auto"
        space-between="15"
        free-mode="true"
        slides-offset-before="16"
        slides-offset-after="16">
        @for (film of stockageFilmAPI.listeFilms; track film) {
          <swiper-slide style="width: 120px;">
            <app-card-film [film]="film" (filmClick)="voirDetail($event)"></app-card-film>
          </swiper-slide>
        }
      </swiper-container>
    }
  </div>

  <div class="section-container">
    <div class="section-header">
      <h2>MES FAVORIS <ion-icon name="heart"></ion-icon></h2>
    </div>
    @if (stockageFilmLocal.listeFavoris.length > 0) {
      <swiper-container
        slides-per-view="auto"
        space-between="15"
        free-mode="true"
        slides-offset-before="16"
        slides-offset-after="16">
        @for (film of stockageFilmLocal.listeFavoris; track film.id) {
          <swiper-slide style="width: 120px;">
            <app-card-film [film]="film" (filmClick)="voirDetail($event)"></app-card-film>
          </swiper-slide>
        }
      </swiper-container>
    } @else {
      <div class="empty-state-card">
        <p>Aucun favori pour le moment</p>
      </div>
    }
  </div>

  <!-- SECTION À VENIR -->
  <div class="section-container">
    <div class="section-header"> <!--(click)="naviguerVersRecherche({type: 'Films', sortie: 'Prochainement'})" -->
      <h2>À VENIR <ion-icon name="chevron-forward-outline"></ion-icon></h2>
    </div>

    @if (stockageFilmAPI.chargementAVenir) {
      <div class="loading-container">
        <ion-spinner name="crescent"></ion-spinner>
      </div>
    } @else {
      <swiper-container
        slides-per-view="auto"
        space-between="15"
        free-mode="true"
        slides-offset-before="16"
        slides-offset-after="16">
        @for (film of stockageFilmAPI.listeAVenir; track film) {
          <swiper-slide style="width: 120px;">
            <app-card-film [film]="film" (filmClick)="voirDetail($event)"></app-card-film>
          </swiper-slide>
        }
      </swiper-container>
    }
  </div>

  <div class="section-container">
    <div class="section-header">
      <h2>TERMINÉ <ion-icon name="checkmark-done-circle-outline"></ion-icon></h2>
    </div>
    @if (stockageFilmLocal.listeTermine.length > 0) {
      <swiper-container
        slides-per-view="auto"
        space-between="15"
        free-mode="true"
        slides-offset-before="16"
        slides-offset-after="16">
        @for (film of stockageFilmLocal.listeTermine; track film.id) {
          <swiper-slide style="width: 120px;">
            <app-card-film [film]="film" (filmClick)="voirDetail($event)"></app-card-film>
          </swiper-slide>
        }
      </swiper-container>
    } @else {
      <div class="empty-state-card">
        <p>Tu n'as pas encore fini de film</p>
      </div>
    }
  </div>

</ion-content>
