<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="padding: 16px;">
    <h3>Test API TMDb</h3>
    <p>Recherche: "Terminator"</p>
    <p>{{ _listeFilms.length }} films trouvés.</p>
  </div>

  @for (item of _listeFilms; track item) {
    <app-card-film [film]="item"></app-card-film>
  }
</ion-content>
