<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tableau de bord</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="section-container">
    <div class="section-header">
      <h2>EN COURS <ion-icon name="chevron-forward-outline"></ion-icon></h2>
    </div>
    <div class="empty-state-card">
      <p>Vous n'avez pas d'œuvres en cours</p>
    </div>
  </div>

  <div class="section-container">
    <div class="section-header">
      <h2>FILMS <ion-icon name="chevron-forward-outline"></ion-icon></h2>
    </div>

    @if (chargementFilms) {
      <div class="loading-container">
        <ion-spinner name="crescent"></ion-spinner>
        <p>Chargement des films...</p>
      </div>
    } @else {
      <swiper-container
        slides-per-view="auto"
        space-between="15"
        free-mode="true"
        slides-offset-before="16"
        slides-offset-after="16">

        @for (film of listeFilms; track film) {
          <swiper-slide style="width: 120px;">
            <app-card-film [film]="film"></app-card-film>
          </swiper-slide>
        } @empty {
          <p class="empty-text">Aucun film trouvé</p>
        }
      </swiper-container>
    }
  </div>

  <div class="section-container">
    <div class="section-header">
      <h2>SÉRIES <ion-icon name="chevron-forward-outline"></ion-icon></h2>
    </div>

    @if (chargementSeries) {
      <div class="loading-container">
        <ion-spinner name="crescent"></ion-spinner>
        <p>Chargement des séries...</p>
      </div>
    } @else {
      <swiper-container
        slides-per-view="auto"
        space-between="15"
        free-mode="true"
        slides-offset-before="16"
        slides-offset-after="16">

        @for (serie of listeSeries; track serie) {
          <swiper-slide style="width: 120px;">
            <app-card-film [film]="serie"></app-card-film>
          </swiper-slide>
        } @empty {
          <p class="empty-text">Aucune série trouvée</p>
        }
      </swiper-container>
    }
  </div>

</ion-content>
