<ion-content [fullscreen]="true">

  <div class="section-container">
    <div class="section-header" (click)="naviguerAvecFiltre('en_cours')">
      <h2>EN COURS <ion-icon name="chevron-forward-outline"></ion-icon></h2>
    </div>
    @if (oeuvresEnCours.length > 0) {
      <swiper-container
        slides-per-view="auto"
        space-between="15"
        free-mode="true"
        slides-offset-before="16"
        slides-offset-after="16">
        @for (oeuvre of oeuvresEnCours; track oeuvre.id) {
          <swiper-slide style="width: 120px;">
            <app-card-oeuvre [oeuvre]="oeuvre" (oeuvreClick)="voirDetail(oeuvre)"></app-card-oeuvre>
          </swiper-slide>
        }
      </swiper-container>
    } @else {
      <div class="empty-state-card">
        <p>Vous n'avez pas d'œuvres en cours</p>
      </div>
    }
  </div>

  <div class="section-container">
    <div class="section-header" (click)="naviguerAvecFiltre('films')">
      <h2>FILMS <ion-icon name="chevron-forward-outline"></ion-icon></h2>
    </div>

    @if (bddFilms.chargementFilms) {
      <div class="loading-container">
        <ion-spinner name="crescent"></ion-spinner>
        <p>Chargement des films...</p>
      </div>
    } @else {
      <swiper-container
        slides-per-view="auto"
        space-between="15"
        free-mode="true"
        slides-offset-before="16"
        slides-offset-after="16">
        @for (film of listeFilms; track film.id) {
          <swiper-slide style="width: 120px;">
            <app-card-oeuvre [oeuvre]="film" (oeuvreClick)="voirDetail(film)"></app-card-oeuvre>
          </swiper-slide>
        } @empty {
          <p class="empty-text">Aucun film trouvé</p>
        }
      </swiper-container>
    }
  </div>

  <div class="section-container">
    <div class="section-header" (click)="naviguerAvecFiltre('series')">
      <h2>SÉRIES <ion-icon name="chevron-forward-outline"></ion-icon></h2>
    </div>

    @if (bddFilms.chargementSeries) {
      <div class="loading-container">
        <ion-spinner name="crescent"></ion-spinner>
        <p>Chargement des séries...</p>
      </div>
    } @else {
      <swiper-container
        slides-per-view="auto"
        space-between="15"
        free-mode="true"
        slides-offset-before="16"
        slides-offset-after="16">
        @for (serie of listeSeries; track serie.id) {
          <swiper-slide style="width: 120px;">
            <app-card-oeuvre [oeuvre]="serie" (oeuvreClick)="voirDetail(serie)"></app-card-oeuvre>
          </swiper-slide>
        } @empty {
          <p class="empty-text">Aucune série trouvée</p>
        }
      </swiper-container>
    }
  </div>

</ion-content>
